{% extends "base.html" %}
{% block title %}Patient Data Submission{% endblock %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style type="text/css">
    .newData {
        border-radius: 10px;
        padding: 8px 16px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #50C4ED; /* Change the background color */
    }

    .newData:hover {
        background-color: #387ADF;
        transform: scale(1.1);
    }

    .newData:active {
        background-color: #387ADF;
        transform: scale(0.9);
    }

    .btn-group-toggle .btn {
        border-radius: 10px;
        padding: 8px 16px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #527853; /* Change the background color */
    }

    .btn-group-toggle .btn:hover {
        transform: scale(1.1); /* Butonun üzerine gelindiğinde büyüt */
        background-color: #A9A9A9;
        border: none;
    }

    /* Aktif hâldeki butonlar için daha özgün bir seçici */
    #symptomModal .btn-group-toggle .btn.active {
        transform: scale(0.9); /* Butona basıldığında küçült */
        border: none;
        background-color: #114232 !important;  /* Butona basıldığında rengi değiştir */
    }


    .modal-dialog {
        max-width: 800px; /* Modalın genişliğini artır */
    }

    .form-group label {
        min-width: 190px; /* Etiketlerin genişliğini sabitle */
        display: inline-block; /* Etiketleri blok olarak ayarla */
    }

    #success-message {
        margin-top: 20px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        color: #28a745;
    }

    #loading-animation {
        margin-top: 20px;
        text-align: center;
    }

    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #09f;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<script>
    // BMI hesaplama işlevi
    document.addEventListener("DOMContentLoaded", function() {
        function calculateBMI() {
            var weight = document.getElementById('weight').value; // Kilonun alınması
            var height = document.getElementById('height').value; // Boyun alınması (cm olarak)

            if(weight > 0 && height > 0) {
                height = height / 100; // cm'yi metreye çevirme
                var bmi = weight / (height * height); // BMI hesaplama
                document.getElementById('bmi').value = bmi.toFixed(2); // BMI değerini yuvarla ve BMI alanına yaz
            }
        }

        // Kilo ve boy input alanlarını dinle ve herhangi bir değişiklikte calculateBMI fonksiyonunu çağır
        document.getElementById('weight').addEventListener('input', calculateBMI);
        document.getElementById('height').addEventListener('input', calculateBMI);
    });

    function saveSymptoms() {
        // Semptomların seviyelerini al
        var smokeLevel = parseFloat($('input[name="smokeLevel"]:checked').val());
        var alcoholLevel = parseFloat($('input[name="alcoholLevel"]:checked').val());
        var headacheLevel = parseFloat($('input[name="headacheLevel"]:checked').val());
        var chestPainLevel = parseFloat($('input[name="chestPainLevel"]:checked').val());
        var shortnessOfBreathLevel = parseFloat($('input[name="shortnessOfBreathLevel"]:checked').val());
        var fatigueLevel = parseFloat($('input[name="fatigueLevel"]:checked').val());
        var feverLevel = parseFloat($('input[name="feverLevel"]:checked').val());
        var dizzinessLevel = parseFloat($('input[name="dizzinessLevel"]:checked').val());
        var swellingLevel = parseFloat($('input[name="swellingLevel"]:checked').val());
        var irregularHeartbeatLevel = parseFloat($('input[name="irregularHeartbeatLevel"]:checked').val());
        var nauseaOrVomitLevel = parseFloat($('input[name="nauseaOrVomitLevel"]:checked').val());
        var coldSweatsLevel = parseFloat($('input[name="coldSweatsLevel"]:checked').val());
        var indigestionOrHeartburnLevel = parseFloat($('input[name="indigestionOrHeartburnLevel"]:checked').val());
        var painToArmLevel = parseFloat($('input[name="painToArmLevel"]:checked').val());
        var jawPainLevel = parseFloat($('input[name="jawPainLevel"]:checked').val());
        var backPainLevel = parseFloat($('input[name="backPainLevel"]:checked').val());
        var faintingLevel = parseFloat($('input[name="faintingLevel"]:checked').val());
        var persistentCoughLevel = parseFloat($('input[name="persistentCoughLevel"]:checked').val());
        var difficultySleepingLevel = parseFloat($('input[name="difficultySleepingLevel"]:checked').val());
        var suddenWeightGainLevel = parseFloat($('input[name="suddenWeightGainLevel"]:checked').val());
        var rapidOrIrregularPulseLevel = parseFloat($('input[name="rapidOrIrregularPulseLevel"]:checked').val());
        var extremeWeaknessLevel = parseFloat($('input[name="extremeWeaknessLevel"]:checked').val());
        var lossOfConsciousnessLevel = parseFloat($('input[name="lossOfConsciousnessLevel"]:checked').val());
        var blurredVisionLevel = parseFloat($('input[name="blurredVisionLevel"]:checked').val());
        var legPainLevel = parseFloat($('input[name="legPainLevel"]:checked').val());
        var numbnessInLimbsLevel = parseFloat($('input[name="numbnessInLimbsLevel"]:checked').val());
        var coldLimbsLevel = parseFloat($('input[name="coldLimbsLevel"]:checked').val());
        var cyanosisLevel = parseFloat($('input[name="cyanosisLevel"]:checked').val());
        var poorGrowthInInfantsLevel = parseFloat($('input[name="poorGrowthInInfantsLevel"]:checked').val());
        var recurrentRespiratoryInfectionsLevel = parseFloat($('input[name="recurrentRespiratoryInfectionsLevel"]:checked').val());
        var sweatingLevel = parseFloat($('input[name="sweatingLevel"]:checked').val());
        var confusionLevel = parseFloat($('input[name="confusionLevel"]:checked').val());
        var numbnessOrWeaknessInLegsLevel = parseFloat($('input[name="numbnessOrWeaknessInLegsLevel"]:checked').val());
        var coldnessInLowerLegOrFootLevel = parseFloat($('input[name="coldnessInLowerLegOrFootLevel"]:checked').val());
        var soresOrWoundsOnLegsOrFeetLevel = parseFloat($('input[name="soresOrWoundsOnLegsOrFeetLevel"]:checked').val());

        // Semptom verilerini bir objeye yerleştir
        var symptomsData = {
            smokeLevel: smokeLevel,
            alcoholLevel: alcoholLevel,
            headacheLevel: headacheLevel,
            chestPainLevel: chestPainLevel,
            shortnessOfBreathLevel: shortnessOfBreathLevel,
            fatigueLevel: fatigueLevel,
            feverLevel: feverLevel,
            dizzinessLevel: dizzinessLevel,
            swellingLevel: swellingLevel,
            irregularHeartbeatLevel: irregularHeartbeatLevel,
            nauseaOrVomitLevel: nauseaOrVomitLevel,
            coldSweatsLevel: coldSweatsLevel,
            indigestionOrHeartburnLevel: indigestionOrHeartburnLevel,
            painToArmLevel: painToArmLevel,
            jawPainLevel: jawPainLevel,
            backPainLevel: backPainLevel,
            faintingLevel: faintingLevel,
            persistentCoughLevel: persistentCoughLevel,
            difficultySleepingLevel: difficultySleepingLevel,
            suddenWeightGainLevel: suddenWeightGainLevel,
            rapidOrIrregularPulseLevel: rapidOrIrregularPulseLevel,
            extremeWeaknessLevel: extremeWeaknessLevel,
            lossOfConsciousnessLevel: lossOfConsciousnessLevel,
            blurredVisionLevel: blurredVisionLevel,
            legPainLevel: legPainLevel,
            numbnessInLimbsLevel: numbnessInLimbsLevel,
            coldLimbsLevel: coldLimbsLevel,
            cyanosisLevel: cyanosisLevel,
            poorGrowthInInfantsLevel: poorGrowthInInfantsLevel,
            recurrentRespiratoryInfectionsLevel: recurrentRespiratoryInfectionsLevel,
            sweatingLevel: sweatingLevel,
            confusionLevel: confusionLevel,
            numbnessOrWeaknessInLegsLevel: numbnessOrWeaknessInLegsLevel,
            coldnessInLowerLegOrFootLevel: coldnessInLowerLegOrFootLevel,
            soresOrWoundsOnLegsOrFeetLevel: soresOrWoundsOnLegsOrFeetLevel
            // Diğer semptomlar buraya eklenebilir
        };

        // Semptom verilerini form verisine ekleyin
        var symptomsInput = document.createElement('input');
        symptomsInput.setAttribute('type', 'hidden');
        symptomsInput.setAttribute('name', 'symptoms');
        symptomsInput.setAttribute('value', JSON.stringify(symptomsData));
        document.querySelector('form').appendChild(symptomsInput);

        // Modalı kapat
        $('#symptomModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

    $(document).ready(function() {
        $('form').on('submit', function(event) {
            event.preventDefault(); // Formun varsayılan gönderme davranışını engelle
            $('#form-container').hide(); // Formu gizle
            $('#loading-animation').show(); // Yükleme animasyonunu göster

            // Form verilerini al
            var formData = new FormData(this);

            // AJAX isteği ile form verilerini sunucuya gönder
            $.ajax({
                type: "POST",
                url: "/submit", // Sunucunuzdaki form verilerini işleyecek olan URL
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('#loading-animation').hide(); // Yükleme animasyonunu gizle
                    $('#success-message').show(); // Başarılı mesajını göster
                },
                error: function(xhr, status, error) {
                    // Hata durumunda yapılacak işlemler
                    console.error("Form gönderme işlemi başarısız: ", error);
                    $('#loading-animation').hide(); // Yükleme animasyonunu gizle
                    // Hata mesajını göstermek için bir yöntem ekleyin
                }
            });
        });
    });


</script>

{% endblock %}

{% block content %}

<div class="py-5">
    <h2 class="text-center">Patient Data Form</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="form-container">
                <!-- Hasta veri formu -->
                <form action="/submit" method="post" enctype="multipart/form-data">
                    <!-- İsim, yaş, kilo, boy, sigara, alkol, uyuşturucu, semptom, aile geçmişi, kan basıncı ve kan değerleri alanları -->
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" name="age" id="age" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select class="form-control" name="gender" id="gender" required>
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight (kg):</label>
                        <input type="number" class="form-control" name="weight" id="weight" step="0.1" required>
                    </div>
                    <div class="form-group">
                        <label for="height">Height (cm):</label>
                        <input type="number" class="form-control" name="height" id="height" step="0.1" required>
                    </div>
                    <div class="form-group">
                        <label for="bmi">BMI:</label>
                        <input disabled type="number" class="form-control" name="bmi" id="bmi" step="0.1" required>
                    </div>
                    <div class="form-group">
                        <label for="symptomButton">Symptoms:</label>
                        <div class="form-row">
                        <button type="button" class="newData" data-toggle="modal" data-target="#symptomModal" id="symptomButton">Select Symptoms</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="familyHistory">Family History:</label>
                        <input type="text" class="form-control" name="familyHistory" id="familyHistory">
                    </div>
                    <div class="form-group">
                        <label for="bloodPressureMin">Blood Pressure Min:</label>
                        <input type="text" class="form-control" name="bloodPressureMin" id="bloodPressureMin">
                    </div>
                    <div class="form-group">
                        <label for="bloodPressureMax">Blood Pressure Max:</label>
                        <input type="text" class="form-control" name="bloodPressureMax" id="bloodPressureMax">
                    </div>
                    <div class="form-group">
                        <label for="bloodValues">Blood Values (Excel):</label>
                        <input type="file" class="form-control-file" name="bloodValues" id="bloodValues" accept=".xlsx">
                    </div>
                    <button type="submit" class="newData">Submit</button>
                </form>
            </div>
           <!-- Başarılı mesajı -->
            <div id="success-message" class="alert alert-success" role="alert" style="display: none;">
                Patient Data Created Successfully!
            </div>

            <!-- Yükleme animasyonu -->
            <div id="loading-animation" class="text-center" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Semptomlar için modal -->
<div class="modal fade" id="symptomModal" tabindex="-1" role="dialog" aria-labelledby="symptomModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="symptomModalLabel">Select Symptoms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Her semptom için dört seviyeli bir seçim -->
        <div class="form-group">
          <label for="smokeLevel">Smoke Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="smokeLevel">
            <label for="smokeLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="smokeLevel" id="smokeLevel0" value="0"> Never
            </label>
            <label for="smokeLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="smokeLevel" id="smokeLevel1" value="0.25"> Low
            </label>
            <label for="smokeLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="smokeLevel" id="smokeLevel2" value="0.50"> Medium
            </label>
            <label for="smokeLevel3" class="btn btn-secondary">
                <input type="radio" name="smokeLevel" id="smokeLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="alcoholLevel">Alcohol Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="alcoholLevel">
            <label for="alcoholLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="alcoholLevel" id="alcoholLevel0" value="0"> Never
            </label>
            <label for="alcoholLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="alcoholLevel" id="alcoholLevel1" value="0.25"> Low
            </label>
            <label for="alcoholLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="alcoholLevel" id="alcoholLevel2" value="0.50"> Medium
            </label>
            <label for="alcoholLevel3" class="btn btn-secondary">
                <input type="radio" name="alcoholLevel" id="alcoholLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
            <label for="headacheLevel">Headache Level:</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="headacheLevel">
                <label for="headacheLevel0" class="btn btn-secondary" style="margin-right:5px;">
                    <input type="radio" name="headacheLevel" id="headacheLevel0" value="0"> Never
                </label>
                <label for="headacheLevel1" class="btn btn-secondary" style="margin-right:5px;">
                    <input type="radio" name="headacheLevel" id="headacheLevel1" value="0.25"> Low
                </label>
                <label for="headacheLevel2" class="btn btn-secondary" style="margin-right:5px;">
                    <input type="radio" name="headacheLevel" id="headacheLevel2" value="0.50"> Medium
                </label>
                <label for="headacheLevel3" class="btn btn-secondary">
                    <input type="radio" name="headacheLevel" id="headacheLevel3" value="1"> High
                </label>
            </div>
        </div>

        <div class="form-group">
          <label for="chestPainLevel">Chest Pain Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="chestPainLevel">
            <label for="chestPainLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="chestPainLevel" id="chestPainLevel0" value="0"> Never
            </label>
            <label for="chestPainLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="chestPainLevel" id="chestPainLevel1" value="0.25"> Low
            </label>
            <label for="chestPainLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="chestPainLevel" id="chestPainLevel2" value="0.50"> Medium
            </label>
            <label for="chestPainLevel3" class="btn btn-secondary">
                <input type="radio" name="chestPainLevel" id="chestPainLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="shortnessOfBreathLevel">Shortness Of Breath Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="shortnessOfBreathLevel">
            <label for="shortnessOfBreathLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="shortnessOfBreathLevel" id="shortnessOfBreathLevel0" value="0"> Never
            </label>
            <label for="shortnessOfBreathLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="shortnessOfBreathLevel" id="shortnessOfBreathLevel1" value="0.25"> Low
            </label>
            <label for="shortnessOfBreathLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="shortnessOfBreathLevel" id="shortnessOfBreathLevel2" value="0.50"> Medium
            </label>
            <label for="shortnessOfBreathLevel3" class="btn btn-secondary">
                <input type="radio" name="shortnessOfBreathLevel" id="shortnessOfBreathLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="fatigueLevel">Fatigue Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="fatigueLevel">
            <label for="fatigueLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fatigueLevel" id="fatigueLevel0" value="0"> Never
            </label>
            <label for="fatigueLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fatigueLevel" id="fatigueLevel1" value="0.25"> Low
            </label>
            <label for="fatigueLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fatigueLevel" id="fatigueLevel2" value="0.50"> Medium
            </label>
            <label for="fatigueLevel3" class="btn btn-secondary">
                <input type="radio" name="fatigueLevel" id="fatigueLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="feverLevel">Fever Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="feverLevel">
            <label for="feverLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="feverLevel" id="feverLevel0" value="0"> Never
            </label>
            <label for="feverLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="feverLevel" id="feverLevel1" value="0.25"> Low
            </label>
            <label for="feverLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="feverLevel" id="feverLevel2" value="0.50"> Medium
            </label>
            <label for="feverLevel3" class="btn btn-secondary">
                <input type="radio" name="feverLevel" id="feverLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="dizzinessLevel">Dizziness Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="dizzinessLevel">
            <label for="dizzinessLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="dizzinessLevel" id="dizzinessLevel0" value="0"> Never
            </label>
            <label for="dizzinessLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="dizzinessLevel" id="dizzinessLevel1" value="0.25"> Low
            </label>
            <label for="dizzinessLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="dizzinessLevel" id="dizzinessLevel2" value="0.50"> Medium
            </label>
            <label for="dizzinessLevel3" class="btn btn-secondary">
                <input type="radio" name="dizzinessLevel" id="dizzinessLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="palpitationLevel">Swelling Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="palpitationLevel">
            <label for="palpitationLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="palpitationLevel" id="palpitationLevel0" value="0"> Never
            </label>
            <label for="palpitationLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="palpitationLevel" id="palpitationLevel1" value="0.25"> Low
            </label>
            <label for="palpitationLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="palpitationLevel" id="palpitationLevel2" value="0.50"> Medium
            </label>
            <label for="palpitationLevel3" class="btn btn-secondary">
                <input type="radio" name="palpitationLevel" id="palpitationLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="swellingLevel">Swelling Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="swellingLevel">
            <label for="swellingLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="swellingLevel" id="swellingLevel0" value="0"> Never
            </label>
            <label for="swellingLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="swellingLevel" id="swellingLevel1" value="0.25"> Low
            </label>
            <label for="swellingLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="swellingLevel" id="swellingLevel2" value="0.50"> Medium
            </label>
            <label for="swellingLevel3" class="btn btn-secondary">
                <input type="radio" name="swellingLevel" id="swellingLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="irregularHeartbeatLevel">Irregular Heartbeat Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="irregularHeartbeatLevel">
            <label for="irregularHeartbeatLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="irregularHeartbeatLevel" id="irregularHeartbeatLevel0" value="0"> Never
            </label>
            <label for="irregularHeartbeatLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="irregularHeartbeatLevel" id="irregularHeartbeatLevel1" value="0.25"> Low
            </label>
            <label for="irregularHeartbeatLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="irregularHeartbeatLevel" id="irregularHeartbeatLevel2" value="0.50"> Medium
            </label>
            <label for="irregularHeartbeatLevel3" class="btn btn-secondary">
                <input type="radio" name="irregularHeartbeatLevel" id="irregularHeartbeatLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="nauseaOrVomitLevel">Nausea or Vomit Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="nauseaOrVomitLevel">
            <label for="nauseaOrVomitLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="nauseaOrVomitLevel" id="nauseaOrVomitLevel0" value="0"> Never
            </label>
            <label for="nauseaOrVomitLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="nauseaOrVomitLevel" id="nauseaOrVomitLevel1" value="0.25"> Low
            </label>
            <label for="nauseaOrVomitLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="nauseaOrVomitLevel" id="nauseaOrVomitLevel2" value="0.50"> Medium
            </label>
            <label for="nauseaOrVomitLevel3" class="btn btn-secondary">
                <input type="radio" name="nauseaOrVomitLevel" id="nauseaOrVomitLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="coldSweatsLevel">Cold Sweats Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="coldSweatsLevel">
            <label for="coldSweatsLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldSweatsLevel" id="coldSweatsLevel0" value="0"> Never
            </label>
            <label for="coldSweatsLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldSweatsLevel" id="coldSweatsLevel1" value="0.25"> Low
            </label>
            <label for="coldSweatsLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldSweatsLevel" id="coldSweatsLevel2" value="0.50"> Medium
            </label>
            <label for="coldSweatsLevel3" class="btn btn-secondary">
                <input type="radio" name="coldSweatsLevel" id="coldSweatsLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="indigestionOrHeartburnLevel">Indigestion or Heartburn Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="indigestionOrHeartburnLevel">
            <label for="indigestionOrHeartburnLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="indigestionOrHeartburnLevel" id="indigestionOrHeartburnLevel0" value="0"> Never
            </label>
            <label for="indigestionOrHeartburnLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="indigestionOrHeartburnLevel" id="indigestionOrHeartburnLevel1" value="0.25"> Low
            </label>
            <label for="indigestionOrHeartburnLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="indigestionOrHeartburnLevel" id="indigestionOrHeartburnLevel2" value="0.50"> Medium
            </label>
            <label for="indigestionOrHeartburnLevel3" class="btn btn-secondary">
                <input type="radio" name="indigestionOrHeartburnLevel" id="indigestionOrHeartburnLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="painToArmLevel">Pain Spreads to Arm Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="painToArmLevel">
            <label for="painToArmLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="painToArmLevel" id="painToArmLevel0" value="0"> Never
            </label>
            <label for="painToArmLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="painToArmLevel" id="painToArmLevel1" value="0.25"> Low
            </label>
            <label for="painToArmLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="painToArmLevel" id="painToArmLevel2" value="0.50"> Medium
            </label>
            <label for="painToArmLevel3" class="btn btn-secondary">
                <input type="radio" name="painToArmLevel" id="painToArmLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="jawPainLevel">Jaw Pain Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="jawPainLevel">
            <label for="jawPainLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="jawPainLevel" id="jawPainLevel0" value="0"> Never
            </label>
            <label for="jawPainLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="jawPainLevel" id="jawPainLevel1" value="0.25"> Low
            </label>
            <label for="jawPainLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="jawPainLevel" id="jawPainLevel2" value="0.50"> Medium
            </label>
            <label for="jawPainLevel3" class="btn btn-secondary">
                <input type="radio" name="jawPainLevel" id="jawPainLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="backPainLevel">Back Pain Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="backPainLevel">
            <label for="backPainLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="backPainLevel" id="backPainLevel0" value="0"> Never
            </label>
            <label for="backPainLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="backPainLevel" id="backPainLevel1" value="0.25"> Low
            </label>
            <label for="backPainLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="backPainLevel" id="backPainLevel2" value="0.50"> Medium
            </label>
            <label for="backPainLevel3" class="btn btn-secondary">
                <input type="radio" name="backPainLevel" id="backPainLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="faintingLevel">Fainting Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="faintingLevel">
            <label for="faintingLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="faintingLevel" id="faintingLevel0" value="0"> Never
            </label>
            <label for="faintingLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="faintingLevel" id="faintingLevel1" value="0.25"> Low
            </label>
            <label for="faintingLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="faintingLevel" id="faintingLevel2" value="0.50"> Medium
            </label>
            <label for="faintingLevel3" class="btn btn-secondary">
                <input type="radio" name="faintingLevel" id="faintingLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="persistentCoughLevel">Persistent Cough Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="persistentCoughLevel">
            <label for="persistentCoughLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="persistentCoughLevel" id="persistentCoughLevel0" value="0"> Never
            </label>
            <label for="persistentCoughLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="persistentCoughLevel" id="persistentCoughLevel1" value="0.25"> Low
            </label>
            <label for="persistentCoughLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="persistentCoughLevel" id="persistentCoughLevel2" value="0.50"> Medium
            </label>
            <label for="persistentCoughLevel3" class="btn btn-secondary">
                <input type="radio" name="persistentCoughLevel" id="persistentCoughLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="difficultySleepingLevel">Difficulty Sleeping Lying Flat Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="difficultySleepingLevel">
            <label for="difficultySleepingLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="difficultySleepingLevel" id="difficultySleepingLevel0" value="0"> Never
            </label>
            <label for="difficultySleepingLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="difficultySleepingLevel" id="difficultySleepingLevel1" value="0.25"> Low
            </label>
            <label for="difficultySleepingLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="difficultySleepingLevel" id="difficultySleepingLevel2" value="0.50"> Medium
            </label>
            <label for="difficultySleepingLevel3" class="btn btn-secondary">
                <input type="radio" name="difficultySleepingLevel" id="difficultySleepingLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="suddenWeightGainLevel">Sudden Weight Gain Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="suddenWeightGainLevel">
            <label for="suddenWeightGainLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="suddenWeightGainLevel" id="suddenWeightGainLevel0" value="0"> Never
            </label>
            <label for="suddenWeightGainLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="suddenWeightGainLevel" id="suddenWeightGainLevel1" value="0.25"> Low
            </label>
            <label for="suddenWeightGainLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="suddenWeightGainLevel" id="suddenWeightGainLevel2" value="0.50"> Medium
            </label>
            <label for="suddenWeightGainLevel3" class="btn btn-secondary">
                <input type="radio" name="suddenWeightGainLevel" id="suddenWeightGainLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="rapidOrIrregularPulseLevel">Rapid or Irregular Pulse Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="rapidOrIrregularPulseLevel">
            <label for="rapidOrIrregularPulseLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="rapidOrIrregularPulseLevel" id="rapidOrIrregularPulseLevel0" value="0"> Never
            </label>
            <label for="rapidOrIrregularPulseLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="rapidOrIrregularPulseLevel" id="rapidOrIrregularPulseLevel1" value="0.25"> Low
            </label>
            <label for="rapidOrIrregularPulseLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="rapidOrIrregularPulseLevel" id="rapidOrIrregularPulseLevel2" value="0.50"> Medium
            </label>
            <label for="rapidOrIrregularPulseLevel3" class="btn btn-secondary">
                <input type="radio" name="rapidOrIrregularPulseLevel" id="rapidOrIrregularPulseLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="extremeWeaknessLevel">Extreme Weakness Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="extremeWeaknessLevel">
            <label for="extremeWeaknessLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="extremeWeaknessLevel" id="extremeWeaknessLevel0" value="0"> Never
            </label>
            <label for="extremeWeaknessLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="extremeWeaknessLevel" id="extremeWeaknessLevel1" value="0.25"> Low
            </label>
            <label for="extremeWeaknessLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="extremeWeaknessLevel" id="extremeWeaknessLevel2" value="0.50"> Medium
            </label>
            <label for="extremeWeaknessLevel3" class="btn btn-secondary">
                <input type="radio" name="extremeWeaknessLevel" id="extremeWeaknessLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="lossOfConsciousnessLevel">Loss of Consciousness Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="lossOfConsciousnessLevel">
            <label for="lossOfConsciousnessLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="lossOfConsciousnessLevel" id="lossOfConsciousnessLevel0" value="0"> Never
            </label>
            <label for="lossOfConsciousnessLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="lossOfConsciousnessLevel" id="lossOfConsciousnessLevel1" value="0.25"> Low
            </label>
            <label for="lossOfConsciousnessLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="lossOfConsciousnessLevel" id="lossOfConsciousnessLevel2" value="0.50"> Medium
            </label>
            <label for="lossOfConsciousnessLevel3" class="btn btn-secondary">
                <input type="radio" name="lossOfConsciousnessLevel" id="lossOfConsciousnessLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="blurredVisionLevel">Blurred Vision Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="blurredVisionLevel">
            <label for="blurredVisionLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVisionLevel" id="blurredVisionLevel0" value="0"> Never
            </label>
            <label for="blurredVisionLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVisionLevel" id="blurredVisionLevel1" value="0.25"> Low
            </label>
            <label for="blurredVisionLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVisionLevel" id="blurredVisionLevel2" value="0.50"> Medium
            </label>
            <label for="blurredVisionLevel3" class="btn btn-secondary">
                <input type="radio" name="blurredVisionLevel" id="blurredVisionLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="legPainLevel">Blurred Vision Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="legPainLevel">
            <label for="legPainLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVisionLevel" id="legPainLevel0" value="0"> Never
            </label>
            <label for="legPainLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVisionLevel" id="legPainLevel1" value="0.25"> Low
            </label>
            <label for="legPainLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVisionLevel" id="legPainLevel2" value="0.50"> Medium
            </label>
            <label for="legPainLevel3" class="btn btn-secondary">
                <input type="radio" name="blurredVisionLevel" id="legPainLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="numbnessInLimbsLevel">Numbness in Limbs Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="numbnessInLimbsLevel">
            <label for="numbnessInLimbsLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessInLimbsLevel" id="numbnessInLimbsLevel0" value="0"> Never
            </label>
            <label for="numbnessInLimbsLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessInLimbsLevel" id="numbnessInLimbsLevel1" value="0.25"> Low
            </label>
            <label for="numbnessInLimbsLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessInLimbsLevel" id="numbnessInLimbsLevel2" value="0.50"> Medium
            </label>
            <label for="numbnessInLimbsLevel3" class="btn btn-secondary">
                <input type="radio" name="numbnessInLimbsLevel" id="numbnessInLimbsLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="coldLimbsLevel">Cold Limbs Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="coldLimbsLevel">
            <label for="coldLimbsLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldLimbsLevel" id="coldLimbsLevel0" value="0"> Never
            </label>
            <label for="coldLimbsLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldLimbsLevel" id="coldLimbsLevel1" value="0.25"> Low
            </label>
            <label for="coldLimbsLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldLimbsLevel" id="coldLimbsLevel2" value="0.50"> Medium
            </label>
            <label for="coldLimbsLevel3" class="btn btn-secondary">
                <input type="radio" name="coldLimbsLevel" id="coldLimbsLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="cyanosisLevel">Cyanosis Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="cyanosisLevel">
            <label for="cyanosisLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="cyanosisLevel" id="cyanosisLevel0" value="0"> Never
            </label>
            <label for="cyanosisLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="cyanosisLevel" id="cyanosisLevel1" value="0.25"> Low
            </label>
            <label for="cyanosisLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="cyanosisLevel" id="cyanosisLevel2" value="0.50"> Medium
            </label>
            <label for="cyanosisLevel3" class="btn btn-secondary">
                <input type="radio" name="cyanosisLevel" id="cyanosisLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="poorGrowthInInfantsLevel">Poor Growth in Infants Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="poorGrowthInInfantsLevel">
            <label for="poorGrowthInInfantsLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="poorGrowthInInfantsLevel" id="poorGrowthInInfantsLevel0" value="0"> Never
            </label>
            <label for="poorGrowthInInfantsLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="poorGrowthInInfantsLevel" id="poorGrowthInInfantsLevel1" value="0.25"> Low
            </label>
            <label for="poorGrowthInInfantsLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="poorGrowthInInfantsLevel" id="poorGrowthInInfantsLevel2" value="0.50"> Medium
            </label>
            <label for="poorGrowthInInfantsLevel3" class="btn btn-secondary">
                <input type="radio" name="poorGrowthInInfantsLevel" id="poorGrowthInInfantsLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="recurrentRespiratoryInfectionsLevel">Recurrent Respiratory Infections Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="recurrentRespiratoryInfectionsLevel">
            <label for="recurrentRespiratoryInfectionsLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="recurrentRespiratoryInfectionsLevel" id="recurrentRespiratoryInfectionsLevel0" value="0"> Never
            </label>
            <label for="recurrentRespiratoryInfectionsLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="recurrentRespiratoryInfectionsLevel" id="recurrentRespiratoryInfectionsLevel1" value="0.25"> Low
            </label>
            <label for="recurrentRespiratoryInfectionsLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="recurrentRespiratoryInfectionsLevel" id="recurrentRespiratoryInfectionsLevel2" value="0.50"> Medium
            </label>
            <label for="recurrentRespiratoryInfectionsLevel3" class="btn btn-secondary">
                <input type="radio" name="recurrentRespiratoryInfectionsLevel" id="recurrentRespiratoryInfectionsLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="sweatingLevel">Sweating Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="sweatingLevel">
            <label for="sweatingLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="sweatingLevel" id="sweatingLevel0" value="0"> Never
            </label>
            <label for="sweatingLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="sweatingLevel" id="sweatingLevel1" value="0.25"> Low
            </label>
            <label for="sweatingLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="sweatingLevel" id="sweatingLevel2" value="0.50"> Medium
            </label>
            <label for="sweatingLevel3" class="btn btn-secondary">
                <input type="radio" name="sweatingLevel" id="sweatingLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="confusionLevel">Confusion Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="confusionLevel">
            <label for="confusionLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="confusionLevel" id="confusionLevel0" value="0"> Never
            </label>
            <label for="confusionLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="confusionLevel" id="confusionLevel1" value="0.25"> Low
            </label>
            <label for="confusionLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="confusionLevel" id="confusionLevel2" value="0.50"> Medium
            </label>
            <label for="confusionLevel3" class="btn btn-secondary">
                <input type="radio" name="confusionLevel" id="confusionLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="numbnessOrWeaknessInLegsLevel">Numbness or Weakness in Legs Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="numbnessOrWeaknessInLegsLevel">
            <label for="numbnessOrWeaknessInLegsLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessOrWeaknessInLegsLevel" id="numbnessOrWeaknessInLegsLevel0" value="0"> Never
            </label>
            <label for="numbnessOrWeaknessInLegsLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessOrWeaknessInLegsLevel" id="numbnessOrWeaknessInLegsLevel1" value="0.25"> Low
            </label>
            <label for="numbnessOrWeaknessInLegsLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessOrWeaknessInLegsLevel" id="numbnessOrWeaknessInLegsLevel2" value="0.50"> Medium
            </label>
            <label for="numbnessOrWeaknessInLegsLevel3" class="btn btn-secondary">
                <input type="radio" name="numbnessOrWeaknessInLegsLevel" id="numbnessOrWeaknessInLegsLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="coldnessInLowerLegOrFootLevel">Coldness in Lower Leg or Foot Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="coldnessInLowerLegOrFootLevel">
            <label for="coldnessInLowerLegOrFootLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldnessInLowerLegOrFootLevel" id="coldnessInLowerLegOrFootLevel0" value="0"> Never
            </label>
            <label for="coldnessInLowerLegOrFootLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldnessInLowerLegOrFootLevel" id="coldnessInLowerLegOrFootLevel1" value="0.25"> Low
            </label>
            <label for="coldnessInLowerLegOrFootLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldnessInLowerLegOrFootLevel" id="coldnessInLowerLegOrFootLevel2" value="0.50"> Medium
            </label>
            <label for="coldnessInLowerLegOrFootLevel3" class="btn btn-secondary">
                <input type="radio" name="coldnessInLowerLegOrFootLevel" id="coldnessInLowerLegOrFootLevel3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="soresOrWoundsOnLegsOrFeetLevel">Sores or Wounds on Legs or Feet Level:</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="soresOrWoundsOnLegsOrFeetLevel">
            <label for="soresOrWoundsOnLegsOrFeetLevel0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="soresOrWoundsOnLegsOrFeetLevel" id="soresOrWoundsOnLegsOrFeetLevel0" value="0"> Never
            </label>
            <label for="soresOrWoundsOnLegsOrFeetLevel1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="soresOrWoundsOnLegsOrFeetLevel" id="soresOrWoundsOnLegsOrFeetLevel1" value="0.25"> Low
            </label>
            <label for="soresOrWoundsOnLegsOrFeetLevel2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="soresOrWoundsOnLegsOrFeetLevel" id="soresOrWoundsOnLegsOrFeetLevel2" value="0.50"> Medium
            </label>
            <label for="soresOrWoundsOnLegsOrFeetLevel3" class="btn btn-secondary">
                <input type="radio" name="soresOrWoundsOnLegsOrFeetLevel" id="soresOrWoundsOnLegsOrFeetLevel3" value="1"> High
            </label>
          </div>
        </div>
        <!-- Diğer semptomlar için benzer seçenekler eklenebilir -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="newData" onclick="saveSymptoms()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}