{% extends "base.html" %}
{% block title %}Patient Data Submission{% endblock %}
{% block head %}
{{ super() }}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style type="text/css">
    .newData {
        border-radius: 10px;
        padding: 8px 16px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #50C4ED; /* Change the background color */
    }

    .newData:hover {
        background-color: #387ADF;
        transform: scale(1.1);
    }

    .newData:active {
        background-color: #387ADF;
        transform: scale(0.9);
    }

    .btn-group-toggle .btn {
        border-radius: 10px;
        padding: 8px 16px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #527853; /* Change the background color */
    }

    .btn-group-toggle .btn:hover {
        transform: scale(1.1); /* Butonun üzerine gelindiğinde büyüt */
        background-color: #A9A9A9;
        border: none;
    }

    /* Aktif hâldeki butonlar için daha özgün bir seçici */
    #symptomModal .btn-group-toggle .btn.active {
        transform: scale(0.9); /* Butona basıldığında küçült */
        border: none;
        background-color: #114232 !important;  /* Butona basıldığında rengi değiştir */
    }


    .modal-dialog {
        max-width: 800px; /* Modalın genişliğini artır */
    }

    .form-group label {
        min-width: 190px; /* Etiketlerin genişliğini sabitle */
        display: inline-block; /* Etiketleri blok olarak ayarla */
    }

    .file-upload-btn {
        border-radius: 10px;
        padding: 6px 12px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #31304D;
        text-align: center;
    }

    .file-upload-btn:hover {
        background-color: #B6BBC4;
        transform: scale(1.1);
    }

    .file-upload-btn:active {
         background-color: #161A30;
         transform: scale(0.9);
    }

    #file-chosen {
        margin-left: 10px;
        font-style: italic;
    }

    #success-message {
        margin-top: 20px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        color: #28a745;
    }

    #loading-animation {
        margin-top: 20px;
        text-align: center;
    }

    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-left-color: #09f;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
<script>
    // BMI hesaplama işlevi
    document.addEventListener("DOMContentLoaded", function() {
        function calculateBMI() {
            var weight = document.getElementById('weight').value; // Kilonun alınması
            var height = document.getElementById('height').value; // Boyun alınması (cm olarak)

            if(weight > 0 && height > 0) {
                height = height / 100; // cm'yi metreye çevirme
                var bmi = weight / (height * height); // BMI hesaplama
                document.getElementById('bmi').value = bmi.toFixed(2); // BMI değerini yuvarla ve BMI alanına yaz
            }
        }

        // Kilo ve boy input alanlarını dinle ve herhangi bir değişiklikte calculateBMI fonksiyonunu çağır
        document.getElementById('weight').addEventListener('input', calculateBMI);
        document.getElementById('height').addEventListener('input', calculateBMI);
    });

    function saveSymptoms() {
        // Semptomların seviyelerini al
        var smoke = parseFloat($('input[name="smoke"]:checked').val());
        var drinker = parseFloat($('input[name="drinker"]:checked').val());
        var headache = parseFloat($('input[name="headache"]:checked').val());
        var chestPain = parseFloat($('input[name="chestPain"]:checked').val());
        var shortnessOfBreath = parseFloat($('input[name="shortnessOfBreath"]:checked').val());
        var fatigue = parseFloat($('input[name="fatigue"]:checked').val());
        var fever = parseFloat($('input[name="fever"]:checked').val());
        var dizziness = parseFloat($('input[name="dizziness"]:checked').val());
        var swelling = parseFloat($('input[name="swelling"]:checked').val());
        var irregularHeartbeat = parseFloat($('input[name="irregularHeartbeat"]:checked').val());
        var nauseaOrVomit = parseFloat($('input[name="nauseaOrVomit"]:checked').val());
        var coldSweats = parseFloat($('input[name="coldSweats"]:checked').val());
        var indigestionOrHeartburn = parseFloat($('input[name="indigestionOrHeartburn"]:checked').val());
        var painToArm = parseFloat($('input[name="painToArm"]:checked').val());
        var jawPain = parseFloat($('input[name="jawPain"]:checked').val());
        var backPain = parseFloat($('input[name="backPain"]:checked').val());
        var fainting = parseFloat($('input[name="fainting"]:checked').val());
        var persistentCough = parseFloat($('input[name="persistentCough"]:checked').val());
        var difficultySleeping = parseFloat($('input[name="difficultySleeping"]:checked').val());
        var suddenWeightGain = parseFloat($('input[name="suddenWeightGain"]:checked').val());
        var rapidOrIrregularPulse = parseFloat($('input[name="rapidOrIrregularPulse"]:checked').val());
        var extremeWeakness = parseFloat($('input[name="extremeWeakness"]:checked').val());
        var lossOfConsciousness = parseFloat($('input[name="lossOfConsciousness"]:checked').val());
        var blurredVision = parseFloat($('input[name="blurredVision"]:checked').val());
        var legPain = parseFloat($('input[name="legPain"]:checked').val());
        var numbnessInLimbs = parseFloat($('input[name="numbnessInLimbs"]:checked').val());
        var coldLimbs = parseFloat($('input[name="coldLimbs"]:checked').val());
        var cyanosis = parseFloat($('input[name="cyanosis"]:checked').val());
        var poorGrowthInInfants = parseFloat($('input[name="poorGrowthInInfants"]:checked').val());
        var recurrentRespiratoryInfections = parseFloat($('input[name="recurrentRespiratoryInfections"]:checked').val());
        var sweating = parseFloat($('input[name="sweating"]:checked').val());
        var confusion = parseFloat($('input[name="confusion"]:checked').val());
        var numbnessOrWeaknessInLegs = parseFloat($('input[name="numbnessOrWeaknessInLegs"]:checked').val());
        var coldnessInLowerLegOrFoot = parseFloat($('input[name="coldnessInLowerLegOrFoot"]:checked').val());
        var soresOrWoundsOnLegsOrFeet = parseFloat($('input[name="soresOrWoundsOnLegsOrFeet"]:checked').val());

        // Semptom verilerini bir objeye yerleştir
        var symptomsData = {
            smoke: smoke,
            drinker: drinker,
            headache: headache,
            chestPain: chestPain,
            shortnessOfBreath: shortnessOfBreath,
            fatigue: fatigue,
            fever: fever,
            dizziness: dizziness,
            swelling: swelling,
            irregularHeartbeat: irregularHeartbeat,
            nauseaOrVomit: nauseaOrVomit,
            coldSweats: coldSweats,
            indigestionOrHeartburn: indigestionOrHeartburn,
            painToArm: painToArm,
            jawPain: jawPain,
            backPain: backPain,
            fainting: fainting,
            persistentCough: persistentCough,
            difficultySleeping: difficultySleeping,
            suddenWeightGain: suddenWeightGain,
            rapidOrIrregularPulse: rapidOrIrregularPulse,
            extremeWeakness: extremeWeakness,
            lossOfConsciousness: lossOfConsciousness,
            blurredVision: blurredVision,
            legPain: legPain,
            numbnessInLimbs: numbnessInLimbs,
            coldLimbs: coldLimbs,
            cyanosis: cyanosis,
            poorGrowthInInfants: poorGrowthInInfants,
            recurrentRespiratoryInfections: recurrentRespiratoryInfections,
            sweating: sweating,
            confusion: confusion,
            numbnessOrWeaknessInLegs: numbnessOrWeaknessInLegs,
            coldnessInLowerLegOrFoot: coldnessInLowerLegOrFoot,
            soresOrWoundsOnLegsOrFeet: soresOrWoundsOnLegsOrFeet
            // Diğer semptomlar buraya eklenebilir
        };

        // Semptom verilerini form verisine ekleyin
        var symptomsInput = document.createElement('input');
        symptomsInput.setAttribute('type', 'hidden');
        symptomsInput.setAttribute('name', 'symptoms');
        symptomsInput.setAttribute('value', JSON.stringify(symptomsData));
        document.querySelector('form').appendChild(symptomsInput);

        // Modalı kapat
        $('#symptomModal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

    $(document).ready(function() {
        $('#bloodValues').on('change', function() {
            var fileName = $(this).val().split('\\').pop(); // Dosya adını al
            $('#file-chosen').text(fileName); // Seçilen dosya adını güncelle
        });

        $('form').on('submit', function(event) {
            event.preventDefault(); // Formun varsayılan gönderme davranışını engelle
            $('#form-container').hide(); // Formu gizle
            $('#loading-animation').show(); // Yükleme animasyonunu göster

            // Form verilerini al
            var formData = new FormData(this);

            // AJAX isteği ile form verilerini sunucuya gönder
            $.ajax({
                type: "POST",
                url: "/submit", // Sunucunuzdaki form verilerini işleyecek olan URL
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $('#loading-animation').hide(); // Yükleme animasyonunu gizle
                    $('#success-message').show(); // Başarılı mesajını göster
                },
                error: function(xhr, status, error) {
                    // Hata durumunda yapılacak işlemler
                    console.error("Form gönderme işlemi başarısız: ", error);
                    $('#loading-animation').hide(); // Yükleme animasyonunu gizle
                    // Hata mesajını göstermek için bir yöntem ekleyin
                }
            });
        });
    });


</script>

{% endblock %}

{% block content %}

<div class="py-5">
    <h2 class="text-center">Patient Data Form</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div id="form-container">
                <!-- Hasta veri formu -->
                <form action="/submit" method="post" enctype="multipart/form-data">
                    <!-- İsim, yaş, kilo, boy, sigara, alkol, uyuşturucu, semptom, aile geçmişi, kan basıncı ve kan değerleri alanları -->
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" name="age" id="age" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select class="form-control" name="gender" id="gender" required>
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight (kg):</label>
                        <input type="number" class="form-control" name="weight" id="weight" step="0.1" required>
                    </div>
                    <div class="form-group">
                        <label for="height">Height (cm):</label>
                        <input type="number" class="form-control" name="height" id="height" step="0.1" required>
                    </div>
                    <div class="form-group">
                        <label for="bmi">BMI:</label>
                        <input disabled type="number" class="form-control" name="bmi" id="bmi" step="0.1" required>
                    </div>
                    <div class="form-group">
                        <label for="symptomButton">Symptoms:</label>
                        <div class="form-row">
                        <button type="button" class="newData" data-toggle="modal" data-target="#symptomModal" id="symptomButton">Select Symptoms</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="familyHistory">Family History:</label>
                        <input type="text" class="form-control" name="familyHistory" id="familyHistory">
                    </div>
                    <div class="form-group">
                        <label for="bloodPressureMin">Blood Pressure Min:</label>
                        <input type="text" class="form-control" name="bloodPressureMin" id="bloodPressureMin">
                    </div>
                    <div class="form-group">
                        <label for="bloodPressureMax">Blood Pressure Max:</label>
                        <input type="text" class="form-control" name="bloodPressureMax" id="bloodPressureMax">
                    </div>
                    <div class="form-group">
                        <label for="bloodValues" class="file-upload-btn">Choose File</label>
                        <input type="file" class="form-control-file" name="bloodValues" id="bloodValues" accept=".xlsx" style="display: none;">
                        <span id="file-chosen">No File Chosen</span>
                    </div>
                    <button type="submit" class="newData">Submit</button>
                </form>
            </div>
           <!-- Başarılı mesajı -->
            <div id="success-message" class="alert alert-success" role="alert" style="display: none;">
                Patient Data Created Successfully!
            </div>

            <!-- Yükleme animasyonu -->
            <div id="loading-animation" class="text-center" style="display: none;">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Semptomlar için modal -->
<div class="modal fade" id="symptomModal" tabindex="-1" role="dialog" aria-labelledby="symptomModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="symptomModalLabel">Select Symptoms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Her semptom için dört seviyeli bir seçim -->
        <div class="form-group">
          <label for="smoke">Smoke :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="smoke">
            <label for="smoke0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="smoke" id="smoke0" value="0"> Never
            </label>
            <label for="smoke1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="smoke" id="smoke1" value="0.25"> Low
            </label>
            <label for="smoke2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="smoke" id="smoke2" value="0.50"> Medium
            </label>
            <label for="smoke3" class="btn btn-secondary">
                <input type="radio" name="smoke" id="smoke3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="drinker">Drinker :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="drinker">
            <label for="drinker0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="drinker" id="drinker0" value="0"> Never
            </label>
            <label for="drinker1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="drinker" id="drinker1" value="0.25"> Low
            </label>
            <label for="drinker2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="drinker" id="drinker2" value="0.50"> Medium
            </label>
            <label for="drinker3" class="btn btn-secondary">
                <input type="radio" name="drinker" id="drinker3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
            <label for="headache">Headache :</label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="headache">
                <label for="headache0" class="btn btn-secondary" style="margin-right:5px;">
                    <input type="radio" name="headache" id="headache0" value="0"> Never
                </label>
                <label for="headache1" class="btn btn-secondary" style="margin-right:5px;">
                    <input type="radio" name="headache" id="headache1" value="0.25"> Low
                </label>
                <label for="headache2" class="btn btn-secondary" style="margin-right:5px;">
                    <input type="radio" name="headache" id="headache2" value="0.50"> Medium
                </label>
                <label for="headache3" class="btn btn-secondary">
                    <input type="radio" name="headache" id="headache3" value="1"> High
                </label>
            </div>
        </div>

        <div class="form-group">
          <label for="chestPain">Chest Pain :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="chestPain">
            <label for="chestPain0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="chestPain" id="chestPain0" value="0"> Never
            </label>
            <label for="chestPain1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="chestPain" id="chestPain1" value="0.25"> Low
            </label>
            <label for="chestPain2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="chestPain" id="chestPain2" value="0.50"> Medium
            </label>
            <label for="chestPain3" class="btn btn-secondary">
                <input type="radio" name="chestPain" id="chestPain3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="shortnessOfBreath">Shortness Of Breath :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="shortnessOfBreath">
            <label for="shortnessOfBreath0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="shortnessOfBreath" id="shortnessOfBreath0" value="0"> Never
            </label>
            <label for="shortnessOfBreath1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="shortnessOfBreath" id="shortnessOfBreath1" value="0.25"> Low
            </label>
            <label for="shortnessOfBreath2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="shortnessOfBreath" id="shortnessOfBreath2" value="0.50"> Medium
            </label>
            <label for="shortnessOfBreath3" class="btn btn-secondary">
                <input type="radio" name="shortnessOfBreath" id="shortnessOfBreath3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="fatigue">Fatigue :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="fatigue">
            <label for="fatigue0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fatigue" id="fatigue0" value="0"> Never
            </label>
            <label for="fatigue1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fatigue" id="fatigue1" value="0.25"> Low
            </label>
            <label for="fatigue2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fatigue" id="fatigue2" value="0.50"> Medium
            </label>
            <label for="fatigue3" class="btn btn-secondary">
                <input type="radio" name="fatigue" id="fatigue3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="fever">Fever :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="fever">
            <label for="fever0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fever" id="fever0" value="0"> Never
            </label>
            <label for="fever1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fever" id="fever1" value="0.25"> Low
            </label>
            <label for="fever2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fever" id="fever2" value="0.50"> Medium
            </label>
            <label for="fever3" class="btn btn-secondary">
                <input type="radio" name="fever" id="fever3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="dizziness">Dizziness :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="dizziness">
            <label for="dizziness0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="dizziness" id="dizziness0" value="0"> Never
            </label>
            <label for="dizziness1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="dizziness" id="dizziness1" value="0.25"> Low
            </label>
            <label for="dizziness2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="dizziness" id="dizziness2" value="0.50"> Medium
            </label>
            <label for="dizziness3" class="btn btn-secondary">
                <input type="radio" name="dizziness" id="dizziness3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="palpitation">Palpitation :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="palpitation">
            <label for="palpitation0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="palpitation" id="palpitation0" value="0"> Never
            </label>
            <label for="palpitation1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="palpitation" id="palpitation1" value="0.25"> Low
            </label>
            <label for="palpitation2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="palpitation" id="palpitation2" value="0.50"> Medium
            </label>
            <label for="palpitation3" class="btn btn-secondary">
                <input type="radio" name="palpitation" id="palpitation3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="swelling">Swelling :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="swelling">
            <label for="swelling0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="swelling" id="swelling0" value="0"> Never
            </label>
            <label for="swelling1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="swelling" id="swelling1" value="0.25"> Low
            </label>
            <label for="swelling2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="swelling" id="swelling2" value="0.50"> Medium
            </label>
            <label for="swelling3" class="btn btn-secondary">
                <input type="radio" name="swelling" id="swelling3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="irregularHeartbeat">Irregular Heartbeat :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="irregularHeartbeat">
            <label for="irregularHeartbeat0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="irregularHeartbeat" id="irregularHeartbeat0" value="0"> Never
            </label>
            <label for="irregularHeartbeat1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="irregularHeartbeat" id="irregularHeartbeat1" value="0.25"> Low
            </label>
            <label for="irregularHeartbeat2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="irregularHeartbeat" id="irregularHeartbeat2" value="0.50"> Medium
            </label>
            <label for="irregularHeartbeat3" class="btn btn-secondary">
                <input type="radio" name="irregularHeartbeat" id="irregularHeartbeat3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="nauseaOrVomit">Nausea or Vomit :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="nauseaOrVomit">
            <label for="nauseaOrVomit0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="nauseaOrVomit" id="nauseaOrVomit0" value="0"> Never
            </label>
            <label for="nauseaOrVomit1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="nauseaOrVomit" id="nauseaOrVomit1" value="0.25"> Low
            </label>
            <label for="nauseaOrVomit2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="nauseaOrVomit" id="nauseaOrVomit2" value="0.50"> Medium
            </label>
            <label for="nauseaOrVomit3" class="btn btn-secondary">
                <input type="radio" name="nauseaOrVomit" id="nauseaOrVomit3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="coldSweats">Cold Sweats :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="coldSweats">
            <label for="coldSweats0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldSweats" id="coldSweats0" value="0"> Never
            </label>
            <label for="coldSweats1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldSweats" id="coldSweats1" value="0.25"> Low
            </label>
            <label for="coldSweats2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldSweats" id="coldSweats2" value="0.50"> Medium
            </label>
            <label for="coldSweats3" class="btn btn-secondary">
                <input type="radio" name="coldSweats" id="coldSweats3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="indigestionOrHeartburn">Indigestion or Heartburn :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="indigestionOrHeartburn">
            <label for="indigestionOrHeartburn0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="indigestionOrHeartburn" id="indigestionOrHeartburn0" value="0"> Never
            </label>
            <label for="indigestionOrHeartburn1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="indigestionOrHeartburn" id="indigestionOrHeartburn1" value="0.25"> Low
            </label>
            <label for="indigestionOrHeartburn2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="indigestionOrHeartburn" id="indigestionOrHeartburn2" value="0.50"> Medium
            </label>
            <label for="indigestionOrHeartburn3" class="btn btn-secondary">
                <input type="radio" name="indigestionOrHeartburn" id="indigestionOrHeartburn3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="painToArm">Pain Spreads to Arm :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="painToArm">
            <label for="painToArm0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="painToArm" id="painToArm0" value="0"> Never
            </label>
            <label for="painToArm1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="painToArm" id="painToArm1" value="0.25"> Low
            </label>
            <label for="painToArm2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="painToArm" id="painToArm2" value="0.50"> Medium
            </label>
            <label for="painToArm3" class="btn btn-secondary">
                <input type="radio" name="painToArm" id="painToArm3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="jawPain">Jaw Pain :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="jawPain">
            <label for="jawPain0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="jawPain" id="jawPain0" value="0"> Never
            </label>
            <label for="jawPain1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="jawPain" id="jawPain1" value="0.25"> Low
            </label>
            <label for="jawPain2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="jawPain" id="jawPain2" value="0.50"> Medium
            </label>
            <label for="jawPain3" class="btn btn-secondary">
                <input type="radio" name="jawPain" id="jawPain3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="backPain">Back Pain :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="backPain">
            <label for="backPain0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="backPain" id="backPain0" value="0"> Never
            </label>
            <label for="backPain1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="backPain" id="backPain1" value="0.25"> Low
            </label>
            <label for="backPain2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="backPain" id="backPain2" value="0.50"> Medium
            </label>
            <label for="backPain3" class="btn btn-secondary">
                <input type="radio" name="backPain" id="backPain3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="fainting">Fainting :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="fainting">
            <label for="fainting0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fainting" id="fainting0" value="0"> Never
            </label>
            <label for="fainting1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fainting" id="fainting1" value="0.25"> Low
            </label>
            <label for="fainting2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="fainting" id="fainting2" value="0.50"> Medium
            </label>
            <label for="fainting3" class="btn btn-secondary">
                <input type="radio" name="fainting" id="fainting3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="persistentCough">Persistent Cough :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="persistentCough">
            <label for="persistentCough0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="persistentCough" id="persistentCough0" value="0"> Never
            </label>
            <label for="persistentCough1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="persistentCough" id="persistentCough1" value="0.25"> Low
            </label>
            <label for="persistentCough2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="persistentCough" id="persistentCough2" value="0.50"> Medium
            </label>
            <label for="persistentCough3" class="btn btn-secondary">
                <input type="radio" name="persistentCough" id="persistentCough3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="difficultySleeping">Difficulty Sleeping Lying Flat :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="difficultySleeping">
            <label for="difficultySleeping0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="difficultySleeping" id="difficultySleeping0" value="0"> Never
            </label>
            <label for="difficultySleeping1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="difficultySleeping" id="difficultySleeping1" value="0.25"> Low
            </label>
            <label for="difficultySleeping2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="difficultySleeping" id="difficultySleeping2" value="0.50"> Medium
            </label>
            <label for="difficultySleeping3" class="btn btn-secondary">
                <input type="radio" name="difficultySleeping" id="difficultySleeping3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="suddenWeightGain">Sudden Weight Gain :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="suddenWeightGain">
            <label for="suddenWeightGain0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="suddenWeightGain" id="suddenWeightGain0" value="0"> Never
            </label>
            <label for="suddenWeightGain1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="suddenWeightGain" id="suddenWeightGain1" value="0.25"> Low
            </label>
            <label for="suddenWeightGain2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="suddenWeightGain" id="suddenWeightGain2" value="0.50"> Medium
            </label>
            <label for="suddenWeightGain3" class="btn btn-secondary">
                <input type="radio" name="suddenWeightGain" id="suddenWeightGain3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="rapidOrIrregularPulse">Rapid or Irregular Pulse :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="rapidOrIrregularPulse">
            <label for="rapidOrIrregularPulse0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="rapidOrIrregularPulse" id="rapidOrIrregularPulse0" value="0"> Never
            </label>
            <label for="rapidOrIrregularPulse1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="rapidOrIrregularPulse" id="rapidOrIrregularPulse1" value="0.25"> Low
            </label>
            <label for="rapidOrIrregularPulse2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="rapidOrIrregularPulse" id="rapidOrIrregularPulse2" value="0.50"> Medium
            </label>
            <label for="rapidOrIrregularPulse3" class="btn btn-secondary">
                <input type="radio" name="rapidOrIrregularPulse" id="rapidOrIrregularPulse3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="extremeWeakness">Extreme Weakness :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="extremeWeakness">
            <label for="extremeWeakness0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="extremeWeakness" id="extremeWeakness0" value="0"> Never
            </label>
            <label for="extremeWeakness1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="extremeWeakness" id="extremeWeakness1" value="0.25"> Low
            </label>
            <label for="extremeWeakness2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="extremeWeakness" id="extremeWeakness2" value="0.50"> Medium
            </label>
            <label for="extremeWeakness3" class="btn btn-secondary">
                <input type="radio" name="extremeWeakness" id="extremeWeakness3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="lossOfConsciousness">Loss of Consciousness :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="lossOfConsciousness">
            <label for="lossOfConsciousness0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="lossOfConsciousness" id="lossOfConsciousness0" value="0"> Never
            </label>
            <label for="lossOfConsciousness1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="lossOfConsciousness" id="lossOfConsciousness1" value="0.25"> Low
            </label>
            <label for="lossOfConsciousness2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="lossOfConsciousness" id="lossOfConsciousness2" value="0.50"> Medium
            </label>
            <label for="lossOfConsciousness3" class="btn btn-secondary">
                <input type="radio" name="lossOfConsciousness" id="lossOfConsciousness3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="blurredVision">Blurred Vision :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="blurredVision">
            <label for="blurredVision0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVision" id="blurredVision0" value="0"> Never
            </label>
            <label for="blurredVision1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVision" id="blurredVision1" value="0.25"> Low
            </label>
            <label for="blurredVision2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="blurredVision" id="blurredVision2" value="0.50"> Medium
            </label>
            <label for="blurredVision3" class="btn btn-secondary">
                <input type="radio" name="blurredVision" id="blurredVision3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="legPain">Leg Pain :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="legPain">
            <label for="legPain0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="legPain" id="legPain0" value="0"> Never
            </label>
            <label for="legPain1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="legPain" id="legPain1" value="0.25"> Low
            </label>
            <label for="legPain2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="legPain" id="legPain2" value="0.50"> Medium
            </label>
            <label for="legPain3" class="btn btn-secondary">
                <input type="radio" name="legPain" id="legPain3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="numbnessInLimbs">Numbness in Limbs :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="numbnessInLimbs">
            <label for="numbnessInLimbs0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessInLimbs" id="numbnessInLimbs0" value="0"> Never
            </label>
            <label for="numbnessInLimbs1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessInLimbs" id="numbnessInLimbs1" value="0.25"> Low
            </label>
            <label for="numbnessInLimbs2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessInLimbs" id="numbnessInLimbs2" value="0.50"> Medium
            </label>
            <label for="numbnessInLimbs3" class="btn btn-secondary">
                <input type="radio" name="numbnessInLimbs" id="numbnessInLimbs3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="coldLimbs">Cold Limbs :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="coldLimbs">
            <label for="coldLimbs0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldLimbs" id="coldLimbs0" value="0"> Never
            </label>
            <label for="coldLimbs1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldLimbs" id="coldLimbs1" value="0.25"> Low
            </label>
            <label for="coldLimbs2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldLimbs" id="coldLimbs2" value="0.50"> Medium
            </label>
            <label for="coldLimbs3" class="btn btn-secondary">
                <input type="radio" name="coldLimbs" id="coldLimbs3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="cyanosis">Cyanosis :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="cyanosis">
            <label for="cyanosis0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="cyanosis" id="cyanosis0" value="0"> Never
            </label>
            <label for="cyanosis1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="cyanosis" id="cyanosis1" value="0.25"> Low
            </label>
            <label for="cyanosis2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="cyanosis" id="cyanosis2" value="0.50"> Medium
            </label>
            <label for="cyanosis3" class="btn btn-secondary">
                <input type="radio" name="cyanosis" id="cyanosis3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="poorGrowthInInfants">Poor Growth in Infants :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="poorGrowthInInfants">
            <label for="poorGrowthInInfants0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="poorGrowthInInfants" id="poorGrowthInInfants0" value="0"> Never
            </label>
            <label for="poorGrowthInInfants1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="poorGrowthInInfants" id="poorGrowthInInfants1" value="0.25"> Low
            </label>
            <label for="poorGrowthInInfants2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="poorGrowthInInfants" id="poorGrowthInInfants2" value="0.50"> Medium
            </label>
            <label for="poorGrowthInInfants3" class="btn btn-secondary">
                <input type="radio" name="poorGrowthInInfants" id="poorGrowthInInfants3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="recurrentRespiratoryInfections">Recurrent Respiratory Infections :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="recurrentRespiratoryInfections">
            <label for="recurrentRespiratoryInfections0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="recurrentRespiratoryInfections" id="recurrentRespiratoryInfections0" value="0"> Never
            </label>
            <label for="recurrentRespiratoryInfections1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="recurrentRespiratoryInfections" id="recurrentRespiratoryInfections1" value="0.25"> Low
            </label>
            <label for="recurrentRespiratoryInfections2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="recurrentRespiratoryInfections" id="recurrentRespiratoryInfections2" value="0.50"> Medium
            </label>
            <label for="recurrentRespiratoryInfections3" class="btn btn-secondary">
                <input type="radio" name="recurrentRespiratoryInfections" id="recurrentRespiratoryInfections3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="sweating">Sweating :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="sweating">
            <label for="sweating0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="sweating" id="sweating0" value="0"> Never
            </label>
            <label for="sweating1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="sweating" id="sweating1" value="0.25"> Low
            </label>
            <label for="sweating2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="sweating" id="sweating2" value="0.50"> Medium
            </label>
            <label for="sweating3" class="btn btn-secondary">
                <input type="radio" name="sweating" id="sweating3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="confusion">Confusion :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="confusion">
            <label for="confusion0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="confusion" id="confusion0" value="0"> Never
            </label>
            <label for="confusion1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="confusion" id="confusion1" value="0.25"> Low
            </label>
            <label for="confusion2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="confusion" id="confusion2" value="0.50"> Medium
            </label>
            <label for="confusion3" class="btn btn-secondary">
                <input type="radio" name="confusion" id="confusion3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="numbnessOrWeaknessInLegs">Numbness or Weakness in Legs :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="numbnessOrWeaknessInLegs">
            <label for="numbnessOrWeaknessInLegs0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessOrWeaknessInLegs" id="numbnessOrWeaknessInLegs0" value="0"> Never
            </label>
            <label for="numbnessOrWeaknessInLegs1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessOrWeaknessInLegs" id="numbnessOrWeaknessInLegs1" value="0.25"> Low
            </label>
            <label for="numbnessOrWeaknessInLegs2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="numbnessOrWeaknessInLegs" id="numbnessOrWeaknessInLegs2" value="0.50"> Medium
            </label>
            <label for="numbnessOrWeaknessInLegs3" class="btn btn-secondary">
                <input type="radio" name="numbnessOrWeaknessInLegs" id="numbnessOrWeaknessInLegs3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="coldnessInLowerLegOrFoot">Coldness in Lower Leg or Foot :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="coldnessInLowerLegOrFoot">
            <label for="coldnessInLowerLegOrFoot0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldnessInLowerLegOrFoot" id="coldnessInLowerLegOrFoot0" value="0"> Never
            </label>
            <label for="coldnessInLowerLegOrFoot1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldnessInLowerLegOrFoot" id="coldnessInLowerLegOrFoot1" value="0.25"> Low
            </label>
            <label for="coldnessInLowerLegOrFoot2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="coldnessInLowerLegOrFoot" id="coldnessInLowerLegOrFoot2" value="0.50"> Medium
            </label>
            <label for="coldnessInLowerLegOrFoot3" class="btn btn-secondary">
                <input type="radio" name="coldnessInLowerLegOrFoot" id="coldnessInLowerLegOrFoot3" value="1"> High
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="soresOrWoundsOnLegsOrFeet">Sores or Wounds on Legs or Feet :</label>
          <div class="btn-group btn-group-toggle" data-toggle="buttons" id="soresOrWoundsOnLegsOrFeet">
            <label for="soresOrWoundsOnLegsOrFeet0" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="soresOrWoundsOnLegsOrFeet" id="soresOrWoundsOnLegsOrFeet0" value="0"> Never
            </label>
            <label for="soresOrWoundsOnLegsOrFeet1" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="soresOrWoundsOnLegsOrFeet" id="soresOrWoundsOnLegsOrFeet1" value="0.25"> Low
            </label>
            <label for="soresOrWoundsOnLegsOrFeet2" class="btn btn-secondary" style="margin-right:5px;">
                <input type="radio" name="soresOrWoundsOnLegsOrFeet" id="soresOrWoundsOnLegsOrFeet2" value="0.50"> Medium
            </label>
            <label for="soresOrWoundsOnLegsOrFeet3" class="btn btn-secondary">
                <input type="radio" name="soresOrWoundsOnLegsOrFeet" id="soresOrWoundsOnLegsOrFeet3" value="1"> High
            </label>
          </div>
        </div>
        <!-- Diğer semptomlar için benzer seçenekler eklenebilir -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="newData" onclick="saveSymptoms()">Save Changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}