{% extends "base.html" %}
{% block title %}Model Hub{% endblock %}
{% block head %}
{{ super() }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<style type="text/css">
    .container {
        margin-top: 50px;
    }

    h1 {
        color: #4D869C;
        margin-bottom: 20px;
        font-size: 32px;
        text-align: center;
        position: relative;
    }

    h1::after {
        content: '';
        display: block;
        width: 230px;
        height: 3px;
        background-color: #4D869C;
        margin: 10px auto 0;
        border-radius: 5px;
    }

    .custom-link {
        color: black;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .custom-link:hover {
        color: black;
        transform: scale(1.05);
    }

    table {
        width: 100%;
        margin-top: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        transition: all 0.3s ease;
        animation: fadeInUp 0.5s;
    }

    th, td {
        color: black;
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #eee;
        font-size: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    th {
        background-color: #77B0AA;
        color: #fff;
    }

    tr:hover {
        background-color: #f1f1f1;
    }

    #uploadModel {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        padding: 20px;
        margin-top: 20px;
        display: none;
    }

    #uploadModel h2 {
        color: #4D869C;
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    #uploadModel .form-label {
        font-weight: bold;
    }

    #loader {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #1A4D2E;
        animation: spin 2s linear infinite;
    }

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #4F6F52;
        animation: spin 3s linear infinite;
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #E8DFCA;
        animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .file-upload-btn {
        border-radius: 10px;
        padding: 6px 12px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #31304D;
        text-align: center;
    }

    .file-upload-btn:hover {
        background-color: #B6BBC4;
        transform: scale(1.1);
    }

    .file-upload-btn:active {
         background-color: #161A30;
         transform: scale(0.9);
    }

    .downloadExcel, .printButton, .modelUpload {
        border-radius: 10px;
        padding: 8px 16px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
    }

    .downloadExcel {
        background-color: #82CD47;
    }

    .downloadExcel:hover {
        background-color: #54B435;
        transform: scale(1.1);
    }

    .downloadExcel:active {
        background-color: #3e8e41;
        transform: scale(0.9);
    }

    .printButton {
        background-color: #9E9FA5; /* Change the background color */
    }

    .printButton:hover {
        background-color: #61677A;
        transform: scale(1.1);
    }

    .printButton:active {
        background-color: #0056b3;
        transform: scale(0.9);
    }

    .modelUpload {
        height: 50px;
        background-color: #4D869C; /* Change the background color */
    }

    .modelUpload:hover {
        background-color: #3a6c78;
        transform: scale(1.1);
    }

    .modelUpload:active {
        background-color: #3a6c78;
        transform: scale(0.9);
    }

    .download {
        border-radius: 10px;
        padding: 8px 16px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #82CD47;
    }

    .download:hover {
        background-color: #54B435;
        transform: scale(1.1);
    }

    .download:active {
        background-color: #3e8e41;
        transform: scale(0.9);
    }

    .activate {
        border-radius: 10px;
        padding: 8px 16px;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        background-color: #50C4ED;
    }

    .activate:hover {
        background-color: #387ADF;
        transform: scale(1.1);
    }

    .activate:active {
        background-color: #387ADF;
        transform: scale(0.9);
    }

    .toast {
        position: fixed;
        top: 120px;
        right: 13px;
        min-width: 250px;
        border: 1px solid transparent;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        background-color: #f0f0f0;
        color: #333;
        z-index: 1050;
        transition: transform 0.5s ease-in-out, box-shadow 0.3s ease, opacity 0.5s ease-in-out;
        transform: translateX(90%);
        opacity: 0;
    }

    .toast.show {
        transform: translateX(0%);
        opacity: 1;
    }

    .toast.hide {
        transform: translateX(90%);
        opacity: 0;
    }

    .toast:hover {
        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
    }

    .toast-header {
        padding: 8px 16px;
        border-bottom: 1px solid #666;
        font-weight: bold;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .toast-body {
        padding: 10px 16px;
        background-color: white;
        color: #444;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-size: 16px;
        font-family: 'Helvetica', sans-serif;
        line-height: 1.5;
    }

    .toast .close {
        opacity: 0.6;
        color: #fff;
        transition: opacity 0.3s ease, color 0.3s ease;
        background: transparent;
        border: none;
        font-size: 20px;
    }

    .toast .close:hover {
        opacity: 1;
        color: #cccccc;
    }

    @keyframes neon {
        0%, 100% {
            box-shadow: 0 0 0px rgba(0, 0, 0, 0);
        }
        50% {
            box-shadow: 0 0 3px 2px rgba(0, 255, 0, 0.2); /* Daha az belirgin yeşil ışık */
        }
    }

    #successToast {
        animation: neon 8s infinite linear;
    }
</style>

<script>
    function showToast(message, type = 'success') {
        // Mesajı sessionStorage'a kaydet
        sessionStorage.setItem('toastMessage', message);
        sessionStorage.setItem('toastType', type);
        location.reload();  // Sayfa yeniden yüklenir
    }

    document.addEventListener('DOMContentLoaded', function() {
        var toastMessage = sessionStorage.getItem('toastMessage');
        var toastType = sessionStorage.getItem('toastType') || 'success';

        if (toastMessage) {
            var toastElementId = toastType === 'success' ? 'successToast' : 'errorToast';
            var toastElement = document.getElementById(toastElementId);
            var toastBody = toastElement.querySelector('.toast-body');

            toastBody.textContent = toastMessage;  // Mesajı güncelle

            var bsToast = new bootstrap.Toast(toastElement, {
                autohide: true,
                delay: 8000
            });

            bsToast.show();
            sessionStorage.removeItem('toastMessage');  // Mesajı gösterdikten sonra sil
            sessionStorage.removeItem('toastType');  // Tipi sil

            // Toast gizlendiğinde sayfayı yenile (Opsiyonel)
            toastElement.addEventListener('hidden.bs.toast', function () {
                location.reload();
            });
        }
    });

    $(document).ready(function() {
        loadModels();

        function loadModels() {
            $.ajax({
                url: '/api/models',  // This should match the Flask route
                type: 'GET',
                success: function(models) {
                    let modelHtml = '';
                    models.forEach(function(model) {
                        modelHtml += `
                            <tr>
                                <td>${model.name}</td>
                                <td>${model.upload_date}</td>
                                <td>
                                    <button class="download" onclick="downloadModel('${model._id}')">Download</button>
                                    <button class="activate" onclick="activateModel('${model._id}')">Activate</button>
                                </td>
                            </tr>
                        `;
                    });

                    $('#modelList').html(modelHtml);
                },
                error: function(error) {
                    console.log('Error loading models:', error);
                    showToast('Failed to load models', 'error');
                }
            });
        }

        $('#uploadModel form').submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);

            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    $('#uploadModel').hide();
                    loadModels();  // Reload the models list
                    showToast('Model uploaded successfully', 'success');
                },
                error: function(response) {
                    showToast('Failed to upload model', 'error');
                }
            });
        });

        window.downloadModel = function(modelId) {
            fetch(`/download/${modelId}`)
                .then(response => {
                    if (response.ok) {
                        return response.blob();
                    } else {
                        throw new Error('Failed to download model');
                    }
                })
                .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    const a = document.createElement('a');
                    a.href = url;
                    a.download = `${modelId}.keras`;
                    document.body.appendChild(a);
                    a.click();
                    a.remove();
                    showToast('Model downloaded successfully', 'success');
                })
                .catch(error => {
                    console.error('Error:', error);
                    showToast('Failed to download model', 'error');
                });
        };

        window.toggleUploadModal = function() {
            var uploadModel = document.getElementById('uploadModel');
            uploadModel.style.display = (uploadModel.style.display === 'block') ? 'none' : 'block';
        }

        $('#modelFile').change(function() {
            var fileLabel = document.getElementById('image-chosen');
            var files = this.files;
            if (files.length > 0) {
                fileLabel.innerText = files[0].name;
            } else {
                fileLabel.innerText = 'No File Chosen';
            }
        });
    });

    // Define activateModel globally
    window.activateModel = function(modelId) {
        $.ajax({
            url: '/activate_model/' + modelId,  // Changed to a more RESTful endpoint style
            type: 'POST',
            success: function(response) {
                showToast('Model activated successfully.', 'success');
                // Optionally reload or update page content here
            },
            error: function(error) {
                showToast('Failed to activate model. Error: ' + error.responseText, 'error');
            }
        });
    }

</script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between mb-3">
        <h1>Model Hub</h1>
        <button class="modelUpload" onclick="toggleUploadModal()">Upload Model</button>
    </div>

    <!-- Başarı Durumu için Toast -->
    <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header bg-success text-white">
        <strong class="mr-auto">Success !</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
      </div>
    </div>

    <div id="uploadModel">
        <h2>Upload a New Model</h2>
        <form action="/upload_model" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="diseaseSelect" class="form-label">Disease Model:</label>
                <select class="form-control" id="diseaseSelect" name="diseaseSelect" required>
                    <option value="">Select a Disease</option>
                    <option value="angina_pectoris">Angina Pectoris</option>
                    <option value="arrhythmias">Arrhythmias</option>
                    <option value="atherosclerosis">Atherosclerosis</option>
                    <option value="cad">Coronary Artery Disease</option>
                    <option value="cardiac_arrest">Cardiac Arrest</option>
                    <option value="cardiogenic_shock">Cardiogenic Shock</option>
                    <option value="cardiomyopathy">Cardiomyopathy</option>
                    <option value="congenital_heart_defects">Congenital Heart Defects</option>
                    <option value="endocarditis">Endocarditis</option>
                    <option value="heart_attack">Heart Attack</option>
                    <option value="heart_failure">Heart Failure</option>
                    <option value="heart_murmur">Heart Murmur</option>
                    <option value="heart_valve_regurgitation">Heart Valve Regurgitation</option>
                    <option value="heart_valve_stenosis">Heart Valve Stenosis</option>
                    <option value="hypertension">Hypertension</option>
                    <option value="pad">Peripheral Artery Disease</option>
                    <option value="pericarditis">Pericarditis</option>
                    <option value="pulmonary_embolism">Pulmonary Embolism</option>
                    <option value="rheumatic_heart_disease">Rheumatic Heart Disease</option>
                    <option value="valvular_heart_disease">Valvular Heart Disease</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="modelFile" class="file-upload-btn">Choose File</label>
                <input type="file" class="form-control-file" id="modelFile" name="modelFile" accept=".keras" required style="display: none;">
                <span id="image-chosen">No File Chosen</span>
            </div>
            <div class="mb-3">
                <button type="button" class="printButton" onclick="document.getElementById('uploadModel').style.display='none'">Cancel</button>
                <button type="submit" class="downloadExcel">Upload</button>
            </div>
        </form>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Model Name</th>
                <th scope="col">Upload Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="modelList">
            <!-- Model rows will be inserted here by JavaScript -->
        </tbody>
    </table>
</div>

{% endblock %}